---
title: ToulBox
layout: layouts/home.njk
description: A beginner's guide 
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<q><i>The knowledge based tools you need to succeed in tech</i></q>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>