---
title: The Toul Box
layout: layouts/home.njk
description: A beginner's guide 
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---
<p><q>Providing the tools you need to succeed from college to career</q></p>
<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>